<footer class="site-footer">

	CC-BY-SA 2016 Sebastian Meier, Till Nagel, et al.

	Visit our <a href="https://github.com/FH-Potsdam/OpenGeoTools/tree/gh-pages">github</a> to contribute.

</footer>
<script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>  
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://fh-potsdam.github.io/OpenGeoTools/js/jquery.tooltipster.min.js"></script>
