<header class="site-header">

	<h1>Open Geo Tools</h1>

	<p>
		An open, in-progress, and extendable collection of tools and libraries in the area of geo-spatial data analysis and visualization.
	</p>

	<p>
		This is the online companion to our abstract at the <a href="http://www.geoinfo.dgfk.net/">64<sup>th</sup> German Cartography conference</a>.
		Meier, S., Heidmann, F., Nagel, T. <em>Open Geo Tools — A State of the Art Report The democratization of geo-tools and data continues</em>. 2016
	</p>

</header>
