table{
	width:100%;
}


th {
  text-align: left;
}

tr.topCategory-1 {
    background-color: $taxonomy-color-1;
}
tr.topCategory-2 {
    background-color: $taxonomy-color-2;
}
tr.topCategory-3 {
    background-color: $taxonomy-color-3;
}
tr.topCategory-4 {
    background-color: $taxonomy-color-4;
}
tr.topCategory-5 {
    background-color: $taxonomy-color-5;
}
tr.topCategory-6 {
    background-color: $taxonomy-color-6;
}


tr.categorySpacer > td
{
    padding-top: 1em;
}

td{
	padding:3px;
}
